@font-face {
    font-family: Heebo;
    src: url(Heebo/Heebo-VariableFont_wght.ttf);
  }

body{
    background-image: url(images/contactmebgg.png);
    background-size: 100%;
    font-family: Heebo;
}
header{
    margin-bottom: 55px;
}
header ul{
    list-style: none;
}
header li{
    display: inline;
}
header a{
    text-decoration: none;
    color: black;
    margin: 0px 70px;
    font-weight: 80px;
    font-style: normal;
}
h1{ 
margin-left: 520px;
margin-top: 190px;
font-size: 35px;
}
.one{
    display: flex;
    text-align: center;
}
h2{
margin-left: 800px;
font-size: 35px;
margin-top: -75px;
font-weight: lighter;
}
h3{
font-size: 35px;
margin-left: 700px;
margin-top: 80px;
font-weight: lighter;
}
h4{
font-size: 35px;
margin-left: 680px;
margin-top: 110px;
font-weight: lighter;
}
button {
  background-color:#000000; 
  border-style: none;
  padding: 15px 100px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 650px;
  margin-top: 120px;
}
button a{
    text-decoration: none;
    color: white;
}